{% extends 'application/layout.html' %}

{% block title %}
<h1>Результаты 26 тура чемпионата Германии</h1>
{% endblock %}

{% block content %}
<h1><b><center>Результаты 26 тура чемпионата Германии</center></b></h1>
<div class="table-responsive">
    <table class="table table-striped table-bordered mx-auto" style="width: 80%;">
        <thead>
        <tr>
            <th class="text-center">Матч</th>
            <th class="text-center">Результат</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center">
            <td>Санкт-Паули Хоффенхайм</td>
            <td>1-0</td>
        </tr>
        <tr class="text-center">
            <td>Вердер Боруссия М</td>
            <td>2-4</td>
        </tr>
        <tr class="text-center">
            <td>Унион Бавария</td>
            <td>1-1</td>
        </tr>
        <tr class="text-center">
            <td>Бохум Айнтрахт Ф</td>
            <td>1-3</td>
        </tr>
        <tr class="text-center">
            <td>Штутгарт Байер</td>
            <td>0-0</td>
        </tr>
        <tr class="text-center">
            <td>Аугсбург Вольфсбург</td>
            <td>1-0</td>
        </tr>
        <tr class="text-center">
            <td>Майнц Фрайбург</td>
            <td>2-2</td>
        </tr>
        <tr class="text-center">
            <td>РБ Лейпциг Боруссия Д</td>
            <td>2-0</td>
        </tr>
        <tr class="text-center">
            <td>Хайденхайм Хольштайн Киль</td>
            <td>3-1</td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}