{% extends 'application/layout.html' %}

{% block title %}
<h1>Результаты 28 тура чемпионата Испании</h1>
{% endblock %}

{% block content %}
<h1><b>
    <center>Результаты 28 тура чемпионата Испании</center>
</b></h1>

<div class="table-responsive">
    <table class="table table-striped table-bordered mx-auto" style="width: 80%;">
        <thead>
        <tr>
            <th class="text-center">Матч</th>
            <th class="text-center">Результат</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center">
            <td>Леганес Бетис</td>
            <td>2-3</td>
        </tr>
        <tr class="text-center">
            <td>Севилья Атлетик</td>
            <td>2-3</td>
        </tr>
        <tr class="text-center">
            <td>Лас Пальмас Алавес</td>
            <td>2-2</td>
        </tr>
        <tr class="text-center">
            <td>Вальядолид Сельта</td>
            <td>0-1</td>
        </tr>
        <tr class="text-center">
            <td>Мальорка Эспаньол</td>
            <td>2-1</td>
        </tr>
        <tr class="text-center">
            <td>Вильерреал Реал Мадрид</td>
            <td>1-2</td>
        </tr>
        <tr class="text-center">
            <td>Жирона Валенсия</td>
            <td>1-1</td>
        </tr>
        <tr class="text-center">
            <td>Атлетико Барселона</td>
            <td>Начало матча в 23:00</td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}
