{% extends 'application/layout.html' %}

{% block title %}
<h1>Результаты 26 тура чемпионата Франции</h1>
{% endblock %}

{% block content %}
<h1><b><center>Результаты 26 тура чемпионата Франции</center></b></h1>
<div class="table-responsive">
    <table class="table table-striped table-bordered mx-auto" style="width: 80%;">
        <thead>
        <tr>
            <th class="text-center">Матч</th>
            <th class="text-center">Результат</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center">
            <td>Лион Гавр</td>
            <td>4-2</td>
        </tr>
        <tr class="text-center">
            <td>Страсбур Тулуза</td>
            <td>2-4</td>
        </tr>
        <tr class="text-center">
            <td>Монпелье Сент-Этьен</td>
            <td>0-2</td>
        </tr>
        <tr class="text-center">
            <td>Брест Реймс</td>
            <td>0-0</td>
        </tr>
        <tr class="text-center">
            <td>Ницца Осер</td>
            <td>1-1</td>
        </tr>
        <tr class="text-center">
            <td>Нант Лилль</td>
            <td>1-0</td>
        </tr>
        <tr class="text-center">
            <td>Анжер Монако</td>
            <td>0-2</td>
        </tr>
        <tr class="text-center">
            <td>Ланс Ренн</td>
            <td>1-0</td>
        </tr>
        <tr class="text-center">
            <td>ПСЖ Марсель</td>
            <td>Начало матча в 22:45</td>
        </tr>
        </tbody>
    </table>
</div>

{% endblock %}