{% extends 'application/layout.html' %}

{% block title %}
<h1>Результаты 29 тура чемпионата Италии</h1>
{% endblock %}

{% block content %}
<h1><b>
    <center>Результаты 29 тура чемпионата Италии</center>
</b></h1>
<div class="table-responsive">
    <table class="table table-striped table-bordered mx-auto" style="width: 80%;">
        <thead>
        <tr>
            <th class="text-center">Матч</th>
            <th class="text-center">Результат</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center">
            <td>Венеция Наполи</td>
            <td>1-0</td>
        </tr>
        <tr class="text-center">
            <td>Болонья Лацио</td>
            <td>5-0</td>
        </tr>
        <tr class="text-center">
            <td>Эвертон Вест Хэм</td>
            <td>1-1</td>
        </tr>
        <tr class="text-center">
            <td>Рома Кальяри</td>
            <td>1-0</td>
        </tr>
        <tr class="text-center">
            <td>Фиорентина Ювентус</td>
            <td>3-0</td>
        </tr>
        <tr class="text-center">
            <td>Дженоа Лечче</td>
            <td>2-1</td>
        </tr>
        <tr class="text-center">
            <td>Монца Парма</td>
            <td>1-1</td>
        </tr>
        <tr class="text-center">
            <td>Удинезе Верона</td>
            <td>0-1</td>
        </tr>
        <tr class="text-center">
            <td>Милан Комо</td>
            <td>2-1</td>
        </tr>
        <tr class="text-center">
            <td>Торино Эмполи</td>
            <td>1-0</td>
        </tr>
        <tr class="text-center">
            <td>Аталанта Интер</td>
            <td>Начало матча в 22:45</td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}